/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
/* dashboard */
.tile {
    margin-bottom: 20px;
}

.tile a {
    display: block;
    overflow: hidden;
    padding: 15px;
    background: #DF494A none repeat scroll 0% 0%;
    border-left: 5px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.tile a .main-icon {
    font-size: 45px;
    color: #FFF;
    float: left;
    margin-right: 15px;
    transition: all 0.3s ease 0s;
}

.tiles .tile:hover i.main-icon {
    transform: rotate(-13deg) scale(1.3);
}

.tile a h3 {
    margin-top: 4px;
    color: #FFF;
    text-align: left;
    margin-bottom: 0px;
}

.tile a span {

    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFF;
    font-style: italic;
    display: none;
}

.tile .fake-a {
    display: block;
    overflow: hidden;
    padding: 15px;
    background: #DF494A none repeat scroll 0% 0%;
    border-left: 5px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.tile .fake-a .main-icon {
    font-size: 45px;
    color: #FFF;
    float: left;
    margin-right: 15px;
    transition: all 0.3s ease 0s;
}

.tiles .tile:hover i.main-icon {
    transform: rotate(-13deg) scale(1.3);
}

.tile .fake-a h3 {
    margin-top: 4px;
    color: #FFF;
    text-align: left;
    margin-bottom: 0px;
}

.tile .fake-a span {
    /*display: block;*/
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFF;
    font-style: italic;
    display: none;
}

tile input[type=checkbox] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
}

.entradas-por-tipos-residuos {
    display: none;
}

.entradas-por-tipos-residuos .text span {
    color: #777;
    font-size: 12px;
}

#volume-entradas-efluentes-diarias-chart span {
    display: none;
}

.ui-datepicker-calendar tbody tr .ui-datepicker-week-end:first-child:not(.ui-datepicker-unselectable) {
    pointer-events: none;
    background-color: #C3C3C3;
}
          /* fim do dashboard */


body#login{ background: url(../img/login.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

nav>ul ul li::before {
    border-top: none;
}
.requerido .label:before {
    content: '* ';
    color: red;
    font-weight: bold;
    font-size: 18px;
}

#extr-page #header {
    border-bottom: 0 solid #eee!important;
    background: #0182c1!important;
}

#logo-group span#activity {
    background-color: #0182c1;
    background-image: -webkit-linear-gradient(top, #0182c1, #0182c1);
    color: #fff;
    border: none;
}
html {
    background: none;
    }

#extr-page #main {
     background:none;
    }
element.style {
    margin-top: 15px;
}
.smart-form fieldset {
    padding: 20px 0 0;
}
.smart-form .row {
    margin: 0 -15px;
}
.row{
    margin-left: -13px;
    margin-right: -13px;
}
.tile{
    margin-bottom: 20px;
}
