/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
body#login{ background: url(../img/login.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

nav>ul ul li::before {
    border-top: none;
}
.requerido .label:before {
    content: '* ';
    color: red;
    font-weight: bold;
    font-size: 18px;
}

#extr-page #header {
    border-bottom: 0 solid #eee!important;
    background: #0182c1!important;
}

#logo-group span#activity {
    background-color: #0182c1;
    background-image: -webkit-linear-gradient(top, #0182c1, #0182c1);
    color: #fff;
    border: none;
}
html {
    background: none;
    }

#extr-page #main {
     background:none;
    }
